body {
    width: 100%;
    margin: 0;
    background: #EFEFEF;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    letter-spacing: -0.02em;
}

header#top-nav-bar {
    display: block;
    background:#58AAAA; 
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 80px;
}

ul#nav-items {
    display: block;
    float: right;
    list-style-type: none;
    margin: 10px 60px 0 20px;
}

ul#nav-items > li {
    display: inline-block;
    padding: 0 10px;
}

a.nav-tab {
    display: block;
    padding: 30px 0 10px 0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    transition: all 0.1s ease-out;
}


a.nav-tab:hover {
    transform: translateY(3px);
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

section {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
}

footer {
    display: block;
    background: #424242;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 250px;
}

footer > div.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    color: #BABABA;
}

img#logo {
    cursor: pointer;
    width: 130px;
    margin: 6px 40px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.section-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #111111;
    margin-top: 250px;
    margin-bottom: 60px;
    font-size: 48px;
}



/* Home page */
#slide {
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 100%;
    background-position: 90% center;
    background-size: 100px 100px;
    box-sizing: border-box;
    margin-top: -80px;
    overflow: hidden;
}

.slide-item {
    display: none;
}

.slide-item.active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
}

.slide-image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.slide-number {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #FFFFFF;
}

.slide-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding-top: 40px;
    padding-left: 60px;
}

.slide-text > p, .slide-text > h1, .slide-text > h2, .slide-text > h3 {
    margin-left: 60px;
    max-width: 500px;
    color: #fff;
    text-shadow: 6px 12px 30px rgba(0,0,0,0.5);
}

.slide-item.active > .slide-text {
    animation-name: translatex;
    animation-duration: 1s;
}

@keyframes translatex {
    from {left: -100px}
    to {left: 0}
}

#left-slide-button, #right-slide-button {
    position: absolute;
    padding: 30px 20px;
    color: #FFFFFF;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.15);
    z-index: 200;
    cursor: pointer;
}

#left-slide-button {
    top: 50%;
    left: 0;
    border-radius: 0 10px 10px 0;
}

#right-slide-button {
    top: 50%;
    right: 0;
    border-radius: 10px 0 0 10px;
}

#left-slide-button:hover, #right-slide-button:hover {
    background: rgba(0, 0, 0, 0.5);
}

#best-selling-products > h4 {
    padding: 0 40px 60px 40px;
    color: #666;
}

#best-selling > .product-item > p {
    background: #e5f4f4;
    color: #000;
}

.best-selling {
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: 240px 240px 240px;
    grid-auto-rows: 320px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 40px;
}

.best-selling-product-description {
    padding-top: 20px;
}

.best-selling-product-description > h3 {
    text-align: center;
    color: #399999;
}

.best-selling-product-description > ul {
    list-style-type: none;
    padding: 0 30px;
    color: #444;
}

#customers-feedback > h1 {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 0;
}

.quote-container {
    position: relative;
    margin-top: 0;
}

.quote-container > blockquote {
    font-size: 48px;
    line-height: 1.25;
    padding-top: 76px;
    padding-right: 96px;
    margin: 0 0 24px 0;
    color: #333;
}

.quote-container.left > blockquote {
    padding-left: 96px;
}

.quote-container.right > blockquote {
    padding-left: 192px;
}

.quote-container > span {
    display: block;
    position: absolute;
    top: 0;
    font-size: 136px;
    font-weight: 900;
    color: #7eb9b9;
}

.quote-container.left > span {
    left: 0;
}

.quote-container.right > span {
    right: 0;
}

.customer-info {
    display: flex;
}

.quote-container.left > .customer-info {
    margin-left: 96px;
}

.quote-container.right > .customer-info {
    justify-content: flex-end;
    margin-right: 96px;
}

.customer-name {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

.customer-profession {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.flex-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    text-align: center;
    width: 33.3%;
}

#why-buy-from-us > h1 {
    margin-top: 0;
}

.image-wrapper {
    display: inline-block;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.2);
    padding: 40px;
    border-radius: 50%;
    background: #3e3e3e;
}

.image-wrapper > img {
    width: 80px;
}

.flex-item > p {
    padding: 0 20px;
}


/* Products page */
#our-products > h1 {
    color: #222;
    margin-top: 150px;
}

#our-products > h6 {
    color: #666;
    font-size: 16px;
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-gap: 60px 30px;
    grid-template-columns: 33fr 33fr 33fr;
    margin: 0 auto;
    justify-content: center;
}

.grid-item {
    position: relative;
    background: #FFFFFF url("../images/template.png") center center no-repeat;
    background-size: 60px 60px;
    display: inherit;
    align-items: center;
}

.product-item {
    position: relative;
    box-shadow: 0 4px 18px rgba(11,33,74,0.1), 0 -2px 4px rgba(11,33,74,0.03);
    background: #FFFFFF;
    border-radius: 6px;
    padding-bottom: 80px;
    min-width: 240px;
    overflow: hidden;
}

.product-item:hover {
    box-shadow: 0 4px 30px rgba(11,33,74,0.15), 0 -2px 5px rgba(11,33,74,0.08);
}

.product-item > img {
    max-width: 100%;
    max-height: 100%;
    padding: 48px;
    box-sizing: border-box;
    margin: 0 auto;
}

.product-item > p {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #eaf4f4;
    margin: 0;
    border-radius: 0 0 6px 6px;
    color: #1e1e1e;
    height: 80px;
    text-align: center;
}



/* Contact us page */
#contact-form {
    display: block;
    max-width: 500px;
    text-align: center;
}

.input-element, #input-message, #submit-button {
    display: block;
    width: 100%;
    margin: 10px auto 0 auto;
    box-sizing: border-box;
}

.input-element.valid, #input-message.valid, #submit-button.valid {
    border: 2px solid green;
}

.input-element.invalid, #input-message.invalid, #submit-button.invalid {
    border: 2px solid red;
}

.input-element {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

#input-message {
    padding: 10px;
    height: 200px;
}

#submit-button {
    height: 36px;
    padding: 10px;
    background: #222;
    border: 2px solid #000;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#submit-button:hover {
    box-shadow: 2px 5px 20px rgba(0,0,0,0.4);
    color: #aef2f2;
}


/* About us page */
.about-us-section-content { /* this creates grid format*/
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: 240px auto;
    margin: 0 auto;
    justify-content: center;
    max-width: 960px;
    margin-bottom: 48px;
}

.about-us-section-content > img {
/* this instructs image to only occupy 90% of grid width*/
    width: 90%;
}

.about-us-section-content > p {
   margin-top: 0;
}


/* Meet the team page */
/* This is the team-member blocks container */
.team {
    grid-template-columns: auto auto auto auto auto;
    grid-auto-rows: auto;
}

/* this is each team member block */
.team-member {position: relative;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,0.12);
    background: #438282;
    border-radius: 10px;
    padding-bottom: 60px;

}

/* this is the team members image */
.team-member > img {
    width: 180px;
    margin: 30px;
}

.team-member > ul {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #438282;
    margin: 0;
    border-radius: 0 0 10px 10px;
    color: #fbfdfd;
    height: auto
}

/* This is the rows within the description container */
.team-member > ul > li {

}

/* This is the email links within the description */
.team-member > ul > li > a {

}

.center-text {
    text-align: center;
    color:#FFFFFF;
}

.Email-Text:link {
    color: #FFFFFF;
    text-decoration:none;
}

.contact-color {
    color: #111111;
}
